<div class="table-container">
  <div class="button-container">
    <button class="button button-add">+ Add Api</button>
  </div>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Body</th>
        <th>Tindakan</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">
        <td>{{ post.id }}</td>
        <td>{{ post.title }}</td>
        <td>{{ post.body }}</td>
        <td style="display: flex;">
          <div class="button-container" style="padding-right: 10px;">
            <button class="button button-dlt" (click)="deletePost(post.id)">Delete Api</button>
          </div>
          <div class="button-container">
            <button class="button button-updt" (click)="getByIdUpdate(post.id)">Update Api</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="loading" class="loading-container">
  <div class="loading-spinner"></div>
</div>
<!-- <button routerLink="/form-request">Form Request</button> -->
